*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg


# ohm specific
# generated code; use ant to compile

src/python/ohm/CSharp.tokens
src/python/ohm/CSharpLexer.py
src/python/ohm/CSharpParser.py
src/python/ohm/Java.tokens
src/python/ohm/JavaLexer.py
src/python/ohm/JavaParser.py

